
.card {
    border: 1px solid #000000;
    padding: 1rem;
    border-radius: 1rem;
    cursor: pointer;
    width: 350px;
    transition: 0.115s;
    background-color: #413c3c;
    margin-bottom: 0.5rem;
  }
  
  .card:hover {
    box-shadow: 0.2rem 0.2rem #000000;
    translate: -0.2rem -0.2rem;
  }
  
  .card > h2 {
    font-size: 2rem;
    border-left: 0.5rem solid #AAD4EC;
    padding-left: 1rem;
    color: #ffffff;
  }
  
  .card > img {
    border-radius: 1rem;
    width: 200px;
    height: 200px;
    object-fit: cover;
  }
  
  .tags {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  